numpy==2.4.2
opencv-python==4.13.0.92
scikit-image==0.26.0
pandas==3.0.1
scipy==1.17.1
tifffile==2026.2.24
matplotlib==3.10.8
customtkinter==5.2.2
Pillow==12.1.1
statsmodels==0.14.6
tkinterdnd2==0.4.3
